/*--------------------- CUSTOM FONT: M+1M Font Family ----------------------- */

@font-face { /* M+1M Font in THIN */
    font-family: 'M+1MThin';
    src: url('fonts/mplus-1m-thin-webfont.eot');
    src: url('fonts/mplus-1m-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mplus-1m-thin-webfont.woff') format('woff'),
         url('fonts/mplus-1m-thin-webfont.ttf') format('truetype'),
         url('fonts/mplus-1m-thin-webfont.svg#M+1MThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* M+1M Font in LIGHT */
    font-family: 'M+1MLight';
    src: url('fonts/mplus-1m-light-webfont.eot');
    src: url('fonts/mplus-1m-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mplus-1m-light-webfont.woff') format('woff'),
         url('fonts/mplus-1m-light-webfont.ttf') format('truetype'),
         url('fonts/mplus-1m-light-webfont.svg#M+1Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* M+1M Font in REGULAR */
    font-family: 'M+1MRegular';
    src: url('fonts/mplus-1m-regular-webfont.eot');
    src: url('fonts/mplus-1m-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mplus-1m-regular-webfont.woff') format('woff'),
         url('fonts/mplus-1m-regular-webfont.ttf') format('truetype'),
         url('fonts/mplus-1m-regular-webfont.svg#M+1MRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* M+1M Font in MEDIUM */
    font-family: 'M+1MMedium';
    src: url('fonts/mplus-1m-medium-webfont.eot');
    src: url('fonts/mplus-1m-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mplus-1m-medium-webfont.woff') format('woff'),
         url('fonts/mplus-1m-medium-webfont.ttf') format('truetype'),
         url('fonts/mplus-1m-medium-webfont.svg#M+1MMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* M+1M Font in BOLD */
    font-family: 'M+1MBold';
    src: url('fonts/mplus-1m-bold-webfont.eot');
    src: url('fonts/mplus-1m-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mplus-1m-bold-webfont.woff') format('woff'),
         url('fonts/mplus-1m-bold-webfont.ttf') format('truetype'),
         url('fonts/mplus-1m-bold-webfont.svg#M+1MBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.Serif {
  font-family: 'Lusitana', 'Baskerville', 'Bodoni', 'Times New Roman', serif;
}
.Sans-Thin {
  font-family: 'M+1MThin', 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica', 'Arial', sans-serif;
}
.Sans-Light, .Sans {
  font-family: 'M+1MLight', 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: .003em;
}
.Sans-Regular {
  font-family: 'M+1MRegular', 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica', 'Arial', sans-serif;
}
.Sans-Medium {
  font-family: 'M+1MMedium', 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica', 'Arial', sans-serif;
}
.Sans-Bold {
  font-family: 'M+1MBold', 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica', 'Arial', sans-serif;
}

p {
  letter-spacing: .03em;
  line-height: 1.3em;
}
b {
  font-family: 'M+1MBold', 'DIN Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
h1 {
  font-size: 2em;
  line-height: 2em;
  letter-spacing: .03em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.2em;
  margin: 0 4em;
}
h5 {
  font-size: 1.27em;
}
body {
  font-family: 'M+1MThin', 'M+1MLight', 'M+1MRegular', 'M+1MMedium', 'M+1MBold', 'Lusitana', 'DIN Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: white;
  position: absolute;
}

/*--------------------- End of CUSTOM FONT: M+1M Font Family ----------------------- */

html, body {
  width: 100%;
  height: 100%;
  display: block;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vertical-center h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* ------------------------ PAGE BORDER ------------------------- */
#top-border, #bottom-border, #left-border, #right-border {
  background: #1C3145;
  position: fixed;
  z-index: 1;
}
#left-border, #right-border {
    top: 0; 
    bottom: 0;
		width: 1em;
}
#left-border { left: 0; }
#right-border { right: 0; }
		
#top-border, #bottom-border {
  left: 0; right: 0;
  height: 15px;
}
#top-border { top: 0; }
#bottom-border { bottom: 0; }

/* ------------------------ NAVIGATION BAR ------------------------- */

nav {
  z-index: 2;
}

.clearfix {
  font-family: 'M+1MRegular' ,'DIN Condensed', 'Droid Sans', 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
  letter-spacing: .07em;
  margin: 2.4em 2em .5em;
}
.float-left,.float-right {
  background-color: white;
  padding: 0 .5em;
}

#nav-logo {
  z-index: 1;
  display: block;
  top: 0;
  height: auto;
  width: 100%;
  padding-bottom: 1.4em;
  font-size: 1.5em;
}

@media only screen and (max-width: 38em) {
  .clearfix a {
    width: 100%
  }
}

/* --------------------------- CONTENT ------------------------------ */

.content {
  display: block;
  margin: auto;
  width: 60%;
}
.page-title {
  padding-bottom: .8em;
}
.content img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
img {
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0);
    margin-bottom:20px;
}
img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* ----------------------- CONTENT: MENU LIST -------------------------- */

.menu {
  display: block;
  margin: auto;
  padding: 0 3em;
}
.menu table {
  border: none;
}
.menu th {
  padding: .5em;
}
.menu td {
  padding: .5em 1.5em;
}
.table-surf {
  border: 2px solid rgb(85, 132, 170);
  background-color: #ffffff;
  color: #000000;
}
.table-turf {
  border: 2px solid rgb(104, 160, 109);
  background-color: #ffffff;
  color: #000000;
}
.table-dessert {
  border: 2px solid rgb(185, 190, 106);
  background-color: #ffffff;
  color: #000000;
}


/* ----------------------- CONTENT: WINE LIST TABLE -------------------------- */

/* Wine List Button Hover Fill-In */
.btn {
  border: 1.5px solid #741512;
}
.btn:hover {  
  background-color: #741512;
  color: #ffffff;
}

/* Wine List Accordian Tab HEADING */
.card-header {  
  font-family: 'M+1MMedium', 'DIN Condensed', 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
}
.card-header a:hover {
  color: #000000;
}
#headingOne {
  background-color: #fde7b4; /* CHAMPAGNE */
}
#headingTwo {
  background-color: #ffffcc; /* SPARKLING WINES */
}
#headingThree {
  background-color: #f5f5d6; /* WHITE WINES */
}
#headingFour {
  background-color: #eeffe6; /* SKIN CONTACT */
}
#headingFive {
  background-color: #ffe6e6; /* ROSÉ */
}
#headingSix {
  background-color: #ffbfca; /* RED WINES */
}
#headingSeven {
  background-color: #ffd4cc; /* SWEET WINES */
}
#headingEight {
  background-color: #f4c5b5; /* APÉRITIFS */
}
#headingNine {
  background-color: #f7d6be; /* DIGESTIFS */
}

/* Wine List Accordian Tab DESCRIPTION */
.card-block {  
  margin: 1.5em;
  letter-spacing: .025em;
 }
 .card-block th {  /* Wine List Accordian Tab LEFT COLUMN (BOLD) */
  font-family: 'M+1MMedium', 'DIN Condensed', 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  width: 30%;
  text-align: left;
  font-style: italic;
  font-size: 1.1em;
  padding: .5em 0;
}
.card-block td {  /* Wine List Accordian Tab RIGHT COLUMN */
  font-family: 'M+1MRegular', 'DIN Condensed', 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica', 'Arial', sans-serif;
  width: 70%;
  text-align: left;
  padding: 1em 0 0 2em;
  line-height: 1.2em;
}
table { /* Wine List Accordian Tab INSIDE TABLE */
  display: table;
  width: 100%;
  border-top: 1px solid lightslategray;
}
.card-block tr {
  border-bottom: 1px solid lightslategray;
  vertical-align: top;
}
#collapseOne,#collapseTwo,#collapseThree,#collapseFour,#collapseFive,#collapseSix,#collapseSeven,#collapseEight,#collapseNine { 
   /* Wine List Accordian Tab TABLE SIZE */
  height: 20em;
  overflow: auto
}

ul {
  list-style-type: circle;
  padding: 0;
  font-size: .9em;
  letter-spacing: .02em;
}


/* ------------------------ LINK + LINK HOVER ------------------------- */
a:link {   /* unvisited link */
    color: black;
}
a:visited { /* visited link */
    color: black;
}
a:hover {   /* hover over link */
    color: #741512;
    text-decoration: underline;
    font-weight: 500;
    font-family: 'M+1MMedium' ,'DIN Condensed', 'Droid Sans', 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica', 'Arial', sans-serif;
}
a:active {  /* selected link */
    color: black;
} 

/* --------------------------- FOOTER ------------------------------ */
footer {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
#footer  {
  display: table;
  width: 100%;
}
footer .sitemap {
  margin: 0 2.5em;
  line-height: 1.6em;
}
footer .footer-logo {
  text-transform: lowercase;
  font-size: 120%;
}
footer .footer-ny {
  letter-spacing: .4em;
  font-size: 55%;
  line-height: 2em;
}
footer .copyright {
  font-size: 65%;
  margin-bottom: 3em;
}

@media only screen and (max-width: 30em) {
  footer {
    bottom: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
}

/* ------------------- GO BACK TO THE TOP BUTTON ------------------- */
#to-top {
  font-size: .8em;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: inline;
  padding: .7em .8em;
  margin: 1.9em; 
  z-index: 2;
  color: white;
  opacity: .65;
  border: none;
}
